body {
  background-color: #1f71ff;
  color: #fff;
  font-family: 'Slabo 27px', serif;
  padding-top: 180px;
}

blockquote p {
  font-size: 2em;
}
blockquote footer {
  color: #fff;
  font-size: 1.5em;
  float: right;
}

.btn-default {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  transition: 0.5s ease;
  font-size: 1.5em;
}
  .btn-default:hover, .btn-default:focus {
    background-color: #fff;
    color: #1f71ff;
    border: 2px solid #fff;
  }

.button {
  margin-top: 25px;
}